{% extends 'base.html.twig' %}

{% block body %}
    <div id="container-main">
        <div id="title">
            <h1>Rock, Paper, Scissors, Lizard, Spock</h1>
        </div>
        <div id="container">
            <div id="welcome">
                <h1>winner: {{ winner }}</h1>
                <h1>player: {{ playerWeapon }}</h1>
                <h1>ai weapon: {{ aiWeapon }}</h1>
            </div>
            <div id="input-form">

            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('css/layout.css') }}">
{% endblock %}

