html{
    background-color: #3ab5ee;
    margin: 3em;
    font-family: 'Bangers', cursive;
}

#container-main{
    margin: 0 auto;
    width: 720px;
    /* border: 5px solid #fff; */
    padding: 15px;
}
#form{
    margin: 0 auto;

}
#form div {
    display: inline-table;
    padding-left: 20px;
}
h2{
    color: #fff;
}
button{

    padding: 10px;
    border: 2px solid #404040;
    background: #fff;
    font-family: 'Bangers', cursive;
    font-weight: bold;
    font-size:2em;

}
#stats{
    border-collapse: collapse;
    font-size: 1.1em;
}
#stats th, #stats td{
    padding: 5px;
}